body {
    /* background-color: #f0f0f0; */
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
nav ul {
    list-style: none;
    display: flex;
}
nav ul li {
    padding: 0 1em;
}
nav ul li:first-of-type {
    padding-left: 0;
}
nav ul li:last-of-type {
    padding-right: 0;
}
.container {
    max-width: 960px;
    margin: 2em auto;
}
.list-item {
    padding: 1em;
    margin: 1em 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.list-item h3 {
    display: inline;
}